<%= form_with(model: event, local: true) do |form| %>
    <% if event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

          <ul>
            <% event.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= form.label :artist %>
      <%= form.text_field :artist, id: :event_artist, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :description %>
      <%= form.text_field :description, id: :event_description, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :price_low %>
      <%= form.text_field :price_low, id: :event_price_low, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :price_high %>
      <%= form.text_field :price_high, id: :event_price_high, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :event_date %>
      <%= form.date_field :event_date, id: :event_date, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :total_seats %>
      <%= form.text_field :total_seats, id: :event_total_seats, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.check_box :adults_only %>
      <%= form.label :adults_only %>
    </div>

    <div class="actions">
      <%= form.submit 'Create event', :class => 'btn btn-primary' %>
    </div>
<% end %>